In [2]:
#importamos todas las librerias necesarias para el proyecto
import pandas as pd
import copy, json, csv, ast, re

In [3]:
#cargamos el archivo csv
df=pd.read_csv('movies_dataset.csv')

#imprimimos y vemos su dimension
print(df.head(5))
df.shape

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

/var/folders/h0/dqfbn2qj2dbfw7kz2y5xk77m0000gn/T/ipykernel_6061/4195695612.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('movies_dataset.csv')

(45466, 24)

In [4]:
#eliminamos columnas innecesarias
columnas_a_eliminar = ['belongs_to_collection', 'production_companies', 'video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
df=df.drop(columnas_a_eliminar, axis=1)

#imprimimos las columnas restantes para verificar
df.columns

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [5]:
#rellenamos los valores nulos por 0
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)

#imprimimos para verificar
print('na en revenue', df.revenue.isna().sum())
print('na en budget', df.revenue.isna().sum())

na en revenue 0
na en budget 0

In [6]:
#eliminamos los valores nulos en 'release date'
df.dropna(subset=['release_date'], inplace=True)

#chequeamos los valores nulos
print(df['release_date'].isnull().sum())

0

In [7]:
#creamos 'release_year' y eliminamos valores nulos
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_year'] = df['release_date'].dt.year
df = df.dropna(subset=['release_year'])

#convertimos las fechas a AAAA-mm-dd
df['release_date'] = df['release_date'].dt.strftime('%Y-%m-%d')

#verificamos valores nulos
print(df['release_date'].isnull().sum())
print(df['release_year'].isnull().sum())

#visualizamos
print(df[['release_date', 'release_year']].head(5))

0
0
  release_date  release_year
0   1995-10-30        1995.0
1   1995-12-15        1995.0
2   1995-12-22        1995.0
3   1995-12-22        1995.0
4   1995-02-10        1995.0

In [8]:
#creamos 'revenue' y 'budget'
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

#manejamos valores nulos
df['revenue'] = df['revenue'].fillna(0)

#reemplazamos 0 por 1, para evitar la division por cero
df['budget'] = df['budget'].fillna(0).replace(0, 1)

#calculamos el retorno de inversi√≥n
df['return'] = df['revenue'] / df['budget']
df['return'].head(5)

0    1.245180e+01
1    4.043035e+00
2    0.000000e+00
3    5.090760e+00
4    7.657891e+07
Name: return, dtype: float64

In [9]:
print("Filas y columnas:",df.shape)
df.info()

Filas y columnas: (45376, 18)
<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45376 non-null  int64
 1   genres                45376 non-null  object
 2   id                    45376 non-null  object
 3   original_language     45365 non-null  object
 4   overview              44435 non-null  object
 5   popularity            45376 non-null  object
 6   production_countries  45376 non-null  object
 7   release_date          45376 non-null  object
 8   revenue               45376 non-null  float64
 9   runtime               45130 non-null  float64
 10  spoken_languages      45376 non-null  object
 11  status                45296 non-null  object
 12  tagline               20398 non-null  object
 13  title                 45376 non-null  object
 14  vote_average          45376 non-null  float64
 15  vote_count            45376 non-null  float64
 16  release_year          45376 non-null  float64
 17  return                45376 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 6.6+ MB

In [ ]:
#guardamos el archivo en un nuevo csv
df.to_csv('movies_dataset_modificado.csv', index=False)